.container,
aside,
main {
  display: flex;
  margin: .3rem;
}

aside {
  flex-direction: column;
  font-family: Arial;
  font-size: 13.33px;
}

main {
  flex-wrap: wrap;
}

main div {
  margin: 0 .4rem .8rem .4rem;
}

.rating {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

li {
  display: block;
}

li:hover {
  background-color:WhiteSmoke;
}

li,
input {
  padding: .5rem;
  border-width: 1px;
  border-color: silver;
  border-style: solid solid none solid
}

input {
  border-style: solid
}

input:focus {
    outline: none;
}

#addNew {
  display: block;
  display: none;
}
